.sidebar{
    width: 19%;
    min-height: 100vh;
    border: 1.5px solid var(--purple-light);
    border-top: 0;
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--purple-light);
    border-right: 0;
    padding: 8px 10px;
    border-radius: 5px 0px 0px 5px; 
    cursor: pointer;
}
.sidebar{
    font-size: max(1vw,10px );
}
.sidebar-option img{
    width: 20px;
}
.sidebar-option.active {
 background-color: rgb(rgb(198, 35, 213));
 border-color: var(--dark-purple);
}
@media (max-width:900px) {
    .sidebar-option p{
       display: none;
    }
}