.carousel-container {
    width: 98%;
    position: relative;
 
  }
  
  .carousel-banner {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .slick-dots {
    bottom: 0px; 
  }
  
  .slick-prev, .slick-next {
    z-index: 2;
    color: white;
  }
  