.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .texto{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(82, 88, 95);
}
.navbar .logo{
    width: max(10%, 30px);
    margin-left: 10px;
}
.navbar .profile{
    width: 50px;
    border-radius: 90px;
}