.header{
    height: 34vw;
    margin: 50px auto;
    /* background: url(/frontend/src/assets/header_img2.png); */
    /* background: url('/header_img.png') no-repeat; */
    background-color: rgb(247, 241, 247);
    /* background: url('https://cdn.animaapp.com/projects/667c95ad3c411c7e6951e65a/releases/667dcdd92acc20f4982671ad/img/image-2.png') no-repeat; */
    background-size:cover;
    position: relative;
    
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: black;
    font-size: max(4.0vw,15px);
}

.header-contents .header-highlight{
    color: var(--purple-light);
}
.header-contents p{
    color: black;
    font-size: 1vw;
}
.header-contents h4{
    border: none;
    color: var(--antiflash-white);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: var(--purple-light);
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}

.header-contents h4:hover{

    background-color: var(--dark-purple);
    color: white;
    border: none;
}

.carousel-container {
    margin-top:100px;
    width: 25%;
    margin:  auto;
    margin-right: 300px;
 
  }
  
  .carousel-banner {
    width: 90%;
    height: auto;
    /* cursor: pointer; */
    margin-top: 180px;
  }
  
  .slick-dots {
    bottom: 0px; 
  }
  
  .slick-prev, .slick-next {
    z-index: 2;
    color: white;
  }
  

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents h4{
        padding: 2vw 4vw;
    }
}